@import "../base/colors";
@import "../base/sizes";

.about {
  background-color: $about-section-bg;
  border-bottom: 1px solid $gray;

  &__title {
    border-left-color: $about-title-border;
    color: $about-title;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $about-text;
  }

  &__socials {}
}

.about-socials {
  padding-top: 30px;
  padding-bottom: 30px;

  &__list {
    display: flex;
    @extend .unstyled-list;

    @media (max-width: $screen-lg-min) {
      justify-content: center;
    }
  }

  &__item {
    margin-right: 1px;

    @media (max-width: $screen-lg-min) {
      margin-right: 3px;
    }
  }

  &__link {
    width: 60px;
    height: 60px;
    font-size: 36px;
    background-color: $about-social-bg;
    transition: background-color .3s ease;

    @media (max-width: $screen-xs-max) {
      width: 48px;
      height: 48px;
      font-size: 30px;
    }

    &:hover {
      background-color: $about-social-bg-hover;
    }

    &::before {
      // Compensate baseline
      top: 5px;
      height: 60px - 5px;
    }
  }
}

.advantages {
  &__list {
    counter-reset: items;
    @extend .unstyled-list;
    padding-left: 10px;
  }

  &__item {
    position: relative;
    padding-left: 60px;

    &:before {
      content: "0" counter(items);
      counter-increment: items;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      color: $about-point-text;
      background-color: $about-point-bg;
    }
  }
}

.advantage {
  margin-top: 24px;
  margin-bottom: 30px;

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $about-title;
  }

  &__description {
    margin-top: 0;
    color: $about-text;
  }
}
