@import "../base/colors";
@import "../base/sizes";

.banner {
  height: 660px;
  margin-top: 84px; // Main header height

  @media (max-width: $screen-sm-max) {
    margin-top: 49px; // Main header height in mobile view
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;

  &__list {
    height: 100%;
    @extend .unstyled-list
  }

  &__item {
    height: 100%;
  }

  &__indicators {
    position: absolute;
    right: $grid-gutter-width / 2;
    bottom: 30px;

    @media (min-width: $screen-sm-min) {
      right: calc(50% - #{$container-sm} / 2 + #{$grid-gutter-width} / 2);
    }

    @media (min-width: $screen-md-min) {
      right: calc(50% - #{$container-md} / 2 + #{$grid-gutter-width} / 2);
    }

    @media (min-width: $screen-lg-min) {
      right: calc(50% - #{$container-lg} / 2 + #{$grid-gutter-width} / 2);
    }
  }
}

.slide {
  position: relative;
  height: 100%;

  &__img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 36px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $banner-title;
  }

  &__text {
    line-height: 1.625;
    color: $banner-text;
  }

  &__actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__action-button {
    margin-right: 8px;
  }
}

// Override default slick carousel style
.slick-list,
.slick-track {
  height: 100%;
}

.slick-dots {
  position: static;

  li {
    width: 9px;
    height: 9px;
    margin: 0 8px;

    button {
      width: 100%;
      height: 100%;
    }

    &.slick-active button:before {
      opacity: .85;
      background-color: #fff;
    }

    button:before {
      content: '';
      width: 7px;
      height: 7px;
      border: 2px solid #fff;
      border-radius: 50%;
      opacity: .85;
    }
  }
}
