@import "../base/colors";
@import "../base/sizes";

.contact {
  background-color: $contact-section-bg;

  &__title {
    border-left-color: $contact-title-border;
    color: $contact-title;
  }
}

.map {
  height: 345px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: $underlay;
}

.contact-info {
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $contact-title;
  }

  &__description {
    margin-top: 16px;
    margin-bottom: 16px;
    color: $contact-text;
  }
}

.contact-form-wrapper {
  position: relative;
}

.contact-form {
  margin-top: 30px;
  background-color: $contact-form-bg;

  @media (min-width: $screen-md-min) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0;
    padding: 30px;
  }

  &__row {}

  &__group {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    font-size: 14px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $contact-form-label;
  }

  &__field {
    width: 100%;
    min-height: 44px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: $contact-form-field-bg;
    resize: none;
  }
}
