@import "../base/colors";
@import "../base/sizes";

.features {
  background-color: $features-section-bg;

  &__title {
    border-left-color: $features-title-border;
    color: $features-title;
  }
}

.features-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature-wrapper {}

.feature {
  max-width: 400px;

  @media (max-width: $screen-xs-max) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }

  &__img-wrapper {
    margin-bottom: 52px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $features-title;
  }

  &__description {
    color: $features-text;
  }
}
