@import "../base/colors";

.main-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $footer-section-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    margin-right: 40px;
    font-size: 14px;
    color: $footer-text;
  }

  &__socials {}
}

.main-footer-socials {
  &__list {
    display: flex;
    @extend .unstyled-list
  }

  &__item {
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 28px;
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }

    &::before {
      // Compensate baseline
      top: 4px;
    }
  }
}
