@import "../base/colors";
@import "../base/sizes";

.main-header {
  position: fixed;
  z-index: 3; // Override slider z-index
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $header-section-bg;

  @media (max-width: $screen-sm-max) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      align-items: start;
    }
  }
}

.logo {
  &__link {
    display: block;
    width: 99px;
    height: 19px;
    background: url("../../img/logo.png") no-repeat;
  }

  @media (max-width: $screen-sm-max) {
    position: absolute;
    left: 15px;
    top: 13px;
  }
}

.main-menu {
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  &__list {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  &__item {
    position: relative;
    display: block;
    margin-right: 16px;
    padding: 4px 10px;
    border: 2px solid $header-border;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: $header-font-color;
    transition: all .3s ease;

    @media (max-width: $screen-sm-max) {
      margin-right: 0;
    }

    @media (min-width: $screen-md-min) {
      &:hover:not(&--active) {
        border-color: $header-border-hover;
      }

      > .main-menu__list {
        display: none;
        position: absolute;
        top: calc(100% + 2px);
        left: 50%;
        flex-direction: column;
        width: 300px;
        padding-top: 25px;
        background-color: $header-section-bg;
        transform: translateX(-50%);

        .main-menu__item {
          &:hover {
            margin-right: 0;
            border-radius: 0;
            border-color: $transparent;
            background-color: $gray;
            color: $header-section-bg;
          }
        }
      }

      &:hover {
        > .main-menu__list {
          display: flex;
        }
      }
    }

    &--active {
      border-color: $header-border-active;
      color: $header-font-color-active;
    }

    &:last-child {
      margin-right: 5px;

      @media (max-width: $screen-sm-max) {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}

.slicknav_menu {
  display: none;
  background: $transparent;

  @media (max-width: $screen-sm-max) {
    display: flex;
    flex-direction: column;
  }
}

.slicknav_btn {
  align-self: flex-end;
  margin-right: -10px;
}

.slicknav_nav {
  overflow: auto;
  text-align: center;
}
