@import "../base/colors";
@import "../base/sizes";

.our-team {
  background-color: $our-team-section-bg;

  &__title {
    border-left-color: $our-team-title-border;
    color: $our-team-title;
  }
}

.members {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member {
  position: relative;
  max-width: 360px;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 40px;
  }

  @media (max-width: $screen-xs-max) {
    margin-left: auto;
    margin-right: auto;
  }

  &__img-wrapper {
    position: relative;
    background-color: $underlay;
  }

  &__img {
    width: 100%;
  }

  &__caption {
    padding: 12px 20px;
    background-color: $our-team-teaser-bg;
    transition: background-color .3s ease;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $our-team-teaser-title;
    transition: color .3s ease;
  }

  &__title {
    font-size: 14px;
    color: $our-team-teaser-text;
    transition: color .3s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: $our-team-teaser-overlay;
    transition: opacity .3s ease;
  }

  &__socials {}

  &:hover {
    .member__overlay {
      opacity: 1;
    }

    .member__caption {
      background-color: $our-team-teaser-bg-hover;
    }

    .member__name {
      color: $our-team-teaser-title-hover;
    }

    .member__title {
      color: $our-team-teaser-text-hover;
    }
  }
}

.member-socials {
  &__list {
    display: flex;
    @extend .unstyled-list
  }

  &__item {
    margin-right: 1px;
  }

  &__link {
    width: 50px;
    height: 50px;
    font-size: 28px;
    background-color: $our-team-teaser-social-bg;
    transition: background-color .3s ease;

    &:hover {
      background-color: $our-team-teaser-social-bg-hover;
    }

    &::before {
      // Compensate baseline
      top: 6px;
      height: 50px - 6px;
    }
  }
}
