.popup {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 6px;
  background: #FFF;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__text {}
}
