@import "../base/colors";
@import "../base/sizes";

.services {
  background-color: $services-section-bg;

  &__title {
    border-left-color: $services-title-border;
    color: $services-title;
  }
}

.services-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-wrapper {}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin-bottom: 40px;

  @media (max-width: $screen-xs-max) {
    margin-right: auto;
    margin-left: auto;
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;

    &.cogs {
      background-image: url("/img/services/cogs.png");
    }

    &.pencil {
      background-image: url("/img/services/pencil.png");
    }

    &.mobile {
      background-image: url("/img/services/mobile.png");
    }

    &.clock {
      background-image: url("/img/services/clock.png");
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $services-title;
  }

  &__description {
    width: 100%;
    color: $services-text;
  }
}
