@import "../base/colors";
@import "../base/sizes";

.portfolio {
  background-color: $work-section-bg;

  &__title {
    border-left-color: $work-title-border;
    color: $work-title;
  }
}

.works {
  padding-top: 30px;
  padding-bottom: 30px;

  &--expanded {
    .work-wrapper:nth-child(n) {
      display: block;
    }
  }
}

.work-wrapper {
  &:nth-child(n+7) {
    display: none;
  }
}

.work {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    margin-right: auto;
    margin-left: auto;
  }

  &__img-wrapper {
    height: 265px;
    background-color: $underlay;
  }

  &__img {
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: $work-teaser-overlay;
    transition: opacity .3s ease;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__plus-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__plus {
    font-size: 32px;
    color: #fff;
  }

  &__caption {
    min-height: 82px;
    padding: 12px 20px;
    background-color: $work-teaser-bg;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: QuattrocentoSans, sans-serif;
    text-transform: uppercase;
    color: $work-teaser-title;
  }

  &:hover {
    .work__overlay {
      opacity: 1;
    }
  }
}

.show-more {
  display: flex;
  justify-content: center;

  &__button {}
}
