// PLUGINS
@import "../vendor/slick/slick";
@import "../vendor/slick/slick-theme";
@import "../vendor/magnific-popup/magnific-popup";
@import "../vendor/slicknav/scss/slicknav";

// animate settings
$use-fadeIn: true;
$use-fadeInLeftBig: true;
$use-fadeInRightBig: true;
@import "../vendor/animate/animate";

// BASE
@import "base/sizes";
@import "base/colors";
@import "base/mixins";
@import "base/fonts";
@import "base/general";
@import "base/grid";

// PARTS
@import "parts/header";
@import "parts/banner";
@import "parts/about";
@import "parts/our-team";
@import "parts/work";
@import "parts/services";
@import "parts/features";
@import "parts/contact";
@import "parts/popup";
@import "parts/footer";
