doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title FFW | Test Job
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/main.css')
  body
    section#page-index.page-container
      include parts/_header
      include parts/_banner
      include parts/_about
      include parts/_our-team
      include parts/_work
      include parts/_services
      include parts/_features
      include parts/_contact
      include parts/_popup
      include parts/_footer

    script(src='js/plugins.js')
    script(src='js/main.js')
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAcM9sGxSpcEKmqQHSxU_QWdNyoTFCc0hE&callback=initGoogleMap')
