section#about.main-section.about
  .container
    h3.main-section__title.about__title We are Modest.

    .row
      .col-lg-7
        p.about__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare
          | sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu
          | vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at.
        p.about__text
          | Phasellus sollicitudin ante eros ornare, <strong>sit amet luctus lorem semper</strong>. Suspendisse posuere,
          | quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut
          | bibendum odio convallis eget. vel sodales arcu vestibulum

        .about__socials.about-socials
          ul.about-socials__list
            li.about-socials__item
              a.about-socials__link.social-icon.facebook(href='https://www.facebook.com/FFWagency', target='_blank')

            li.about-socials__item
              a.about-socials__link.social-icon.twitter(href='https://twitter.com/FFWglobal', target='_blank')

            li.about-socials__item
              a.about-socials__link.social-icon.google(href='https://plus.google.com/+Ffwagency', target='_blank')

            li.about-socials__item
              a.about-socials__link.social-icon.dribble(href='https://dribbble.com/shots/3597575-FFW', target='_blank')

            li.about-socials__item
              a.about-socials__link.social-icon.behance(href='https://www.behance.net/webgamma', target='_blank')

      .col-lg-5
        .advantages
          ol.advantages__list
            li.advantages__item.advantage
              h4.advantage__title Dedication to the customers

              p.advantage__description
                | Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus.

            li.advantages__item.advantage
              h4.advantage__title Working closely with our clients

              p.advantage__description
                | Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.


            li.advantages__item.advantage
              h4.advantage__title Increase happiness

              p.advantage__description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.
