section#banner.banner
  .slider
    ul.slider__list
      li.slider__item
        .slide
          img.slide__img(src='../../img/slider/1.jpg')

          .container
            .slide__wrapper.row
              .slide__content.col-md-10.col-lg-7
                h3.slide__title(data-animation='fadeInLeftBig', data-delay='0.5s') Welcome our marketplace

                p.slide__text(data-animation='fadeInRightBig', data-delay='0.5s')
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor
                  | non, ornare sagittis dolor. Nulla vestibulu lacus ...

                .slide__actions(data-animation='fadeIn', data-delay='1s')
                  button.slide__action-button.button(type='button') View More
                  button.slide__action-button.button(type='button') Video Tour

      li.slider__item
        .slide
          img.slide__img(src='../../img/slider/2.jpg')

          .container
            .slide__wrapper.row
              .slide__content.col-md-10.col-lg-7
                h3.slide__title(data-animation='fadeInLeftBig', data-delay='0.5s') It's the second slide

                p.slide__text(data-animation='fadeInRightBig', data-delay='0.5s')
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor
                  | non, ornare sagittis dolor. Nulla vestibulu lacus ...

                .slide__actions(data-animation='fadeIn', data-delay='1s')
                  button.slide__action-button.button(type='button') View More
                  button.slide__action-button.button(type='button') Video Tour

      li.slider__item
        .slide
          img.slide__img(src='../../img/slider/3.jpg')

          .container
            .slide__wrapper.row
              .slide__content.col-md-10.col-lg-7
                h3.slide__title(data-animation='fadeInLeftBig', data-delay='0.5s') It's the third slide

                p.slide__text(data-animation='fadeInRightBig', data-delay='0.5s')
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor
                  | non, ornare sagittis dolor. Nulla vestibulu lacus ...

                .slide__actions(data-animation='fadeIn', data-delay='1s')
                  button.slide__action-button.button(type='button') View More
                  button.slide__action-button.button(type='button') Video Tour

    .slider__indicators

