section#contact.main-section.contact
  .container
    h3.main-section__title.contact__title Stay in touch.

  .container-fluid
    .map.row

  .container
    .contact-form-wrapper.row
      .contact-info.col-md-8.col-lg-6
        h4.contact-info__title Contact Information

        p.contact-info__description
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique nec dolor non, ornare sagittis
          | dolor. Nulla vestibulum lacus sed molestie gravida.

        p.contact-info__description
          | Cras fermentum elit quis magna congue, <strong>vel sodales</strong> arcu vestibulum. Nunc lobortis dui magna,
          | quis dapibus lacus


      form.contact-form.col-md-4.col-lg-6(action='', method='POST')
        .contact-form__row.row
          .contact-form__group.col-lg-6
            label.contact-form__label(for='name') Your name
            input#name.contact-form__field(type='text', name='name', required)

          .contact-form__group.col-lg-6
            label.contact-form__label(for='email') Your email
            input#email.contact-form__field(type='email', name='email', required)

          .contact-form__group.col-lg-12
            label.contact-form__label(for='message') Your message
            textarea#message.contact-form__field(name='message', rows='8', required)

        .contact-form__row
          button#button.button.button--action(type='submit') Send message
