section#features.main-section.features
  .container
    h3.main-section__title.features__title Features.

    .features-wrapper
      .row
        .feature-wrapper.col-sm-4
          .feature
            .feature__img-wrapper
              img.feature__img(src='/img/features/1.jpg', alt='Product Design: Eames Chairs')

            h4.feature__title Product Design: Eames Chairs

            p.feature__description
              | Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I
              | would even risk saying that most of us dream about having a nice Eames.

        .feature-wrapper.col-sm-4
          .feature
            .feature__img-wrapper
              img.feature__img(src='/img/features/2.jpg', alt='Elegant and Colorful Logos')

            h4.feature__title Elegant and Colorful Logos

            p.feature__description
              | I’ve always found logo design to be one of the most challenging things to get right. There’s so much that
              | a logo can say about a brand without actually saying it.

        .feature-wrapper.col-sm-4
          .feature
            .feature__img-wrapper
              img.feature__img(src='/img/features/3.jpg', alt='A Showcase of Creative')

            h4.feature__title A Showcase of Creative

            p.feature__description
              | It’s always interesting to see another designer’s take on a famous website, app or even physical product.
              | Different designers add their own personality and style.
