footer.main-footer
  .main-footer__wrapper.container
    span.main-footer__copyright © Copyright 2014 by PSD Booster. All Rights Reserved.

    .main-footer__socials.main-footer-socials
      ul.main-footer-socials__list
        li.main-footer-socials__item
          a.main-footer-socials__link.social-icon.twitter(href='https://twitter.com/FFWglobal', target='_blank')

        li.main-footer-socials__item
          a.main-footer-socials__link.social-icon.facebook(href='https://www.facebook.com/FFWagency', target='_blank')

        li.main-footer-socials__item
          a.main-footer-socials__link.social-icon.skype(href='skype:bozhidar.boshnakov@ffwagency.com?call', target='_blank')

        li.main-footer-socials__item
          a.main-footer-socials__link.social-icon.behance(href='https://www.behance.net/webgamma', target='_blank')

        li.main-footer-socials__item
          a.main-footer-socials__link.social-icon.linkedin(href='https://www.linkedin.com/company/ffw', target='_blank')

