header.main-header
  .main-header__wrapper.container
    .logo
      a.logo__link(href='/')

    nav.main-menu
      ul.main-menu__list
        li.main-menu__item
          a.main-menu__link(href='#banner') Home

        li.main-menu__item
          a.main-menu__link(href='#about') About

        li.main-menu__item
          a.main-menu__link(href='#our-team') Team

          ul.main-menu__list
            li.main-menu__item
              a.main-menu__link(href='') Team Member 1

            li.main-menu__item
              a.main-menu__link(href='') Team Member 2

            li.main-menu__item
              a.main-menu__link(href='') Team Member 3

        li.main-menu__item
          a.main-menu__link(href='#portfolio') Work

        li.main-menu__item
          a.main-menu__link(href='#services') Services

          ul.main-menu__list
            li.main-menu__item
              a.main-menu__link(href='') Service 1

            li.main-menu__item
              a.main-menu__link(href='') Service 2

            li.main-menu__item
              a.main-menu__link(href='') Service 3

            li.main-menu__item
              a.main-menu__link(href='') Service 4

            li.main-menu__item
              a.main-menu__link(href='') Service 5

        li.main-menu__item
          a.main-menu__link(href='#features') Features

        li.main-menu__item
          a.main-menu__link(href='#contact') Contact
