section#our-team.main-section.our-team
  .container
    h3.main-section__title.our-team__title Meet the team.

    .members
      .row
        .col-sm-6.col-md-3
          .member
            .member__img-wrapper
              img.member__img(src='/img/team/1.jpg', alt='Gloria Bromley')

              .member__overlay
                .member__socials.member-socials
                  ul.member-socials__list
                    li.member-socials__item
                      a.member-socials__link.social-icon.twitter(href='https://twitter.com/FFWglobal', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.facebook(href='https://www.facebook.com/FFWagency', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.linkedin(href='https://www.linkedin.com/company/ffw', target='_blank')

            .member__caption
              h4.member__name Gloria Bromley
              span.member__title CEO and Founder

        .col-sm-6.col-md-3
          .member
            .member__img-wrapper
              img.member__img(src='/img/team/2.jpg', alt='Paul Torres')

              .member__overlay
                .member__socials.member-socials
                  ul.member-socials__list
                    li.member-socials__item
                      a.member-socials__link.social-icon.twitter(href='https://twitter.com/FFWglobal', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.facebook(href='https://www.facebook.com/FFWagency', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.linkedin(href='https://www.linkedin.com/company/ffw', target='_blank')

            .member__caption
              h4.member__name Paul Torres
              span.member__title Head of Development

        .col-sm-6.col-md-3
          .member
            .member__img-wrapper
              img.member__img(src='/img/team/3.jpg', alt='Judith Gillette')

              .member__overlay
                .member__socials.member-socials
                  ul.member-socials__list
                    li.member-socials__item
                      a.member-socials__link.social-icon.twitter(href='https://twitter.com/FFWglobal', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.facebook(href='https://www.facebook.com/FFWagency', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.linkedin(href='https://www.linkedin.com/company/ffw', target='_blank')

            .member__caption
              h4.member__name Judith Gillette
              span.member__title Graphic Designer

        .col-sm-6.col-md-3
          .member
            .member__img-wrapper
              img.member__img(src='/img/team/4.jpg', alt='Delores Reed')

              .member__overlay
                .member__socials.member-socials
                  ul.member-socials__list
                    li.member-socials__item
                      a.member-socials__link.social-icon.twitter(href='https://twitter.com/FFWglobal', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.facebook(href='https://www.facebook.com/FFWagency', target='_blank')

                    li.member-socials__item
                      a.member-socials__link.social-icon.linkedin(href='https://www.linkedin.com/company/ffw', target='_blank')

            .member__caption
              h4.member__name Delores Reed
              span.member__title Client Service Director
