section#services.main-section.services
  .container
    h3.main-section__title.services__title What we do.

    .services-wrapper
      .row
        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.cogs

            h4.service__title Easy theme setup

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.pencil

            h4.service__title Pixel perfect design

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.mobile

            h4.service__title Responsive display

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.clock

            h4.service__title 24/7 support

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.cogs

            h4.service__title Easy theme setup

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.pencil

            h4.service__title Pixel perfect design

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.mobile

            h4.service__title Responsive display

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

        .service-wrapper.col-sm-6.col-md-4.col-lg-3
          .service
            .service__icon.clock

            h4.service__title 24/7 support

            p.service__description
              | Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.

