section#portfolio.main-section.portfolio
  .container
    h3.main-section__title.portfolio__title Lovely work.

    .works
      .row
        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/1.jpg', alt='Partnership guidelines')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title Partnership guidelines

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/2.jpg', alt='How To Write The Perfect Headline')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title How To Write The Perfect Headline

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/3.jpg', alt='Cloned Website')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title Cloned Website

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/4.jpg', alt='Work And Love')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title Work And Love

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/5.jpg', alt='What Zombies Can Teach You About Work')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title What Zombies Can Teach You About Work

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/6.jpg', alt='The Biggest Lie In Website')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title The Biggest Lie In Website

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/1.jpg', alt='Partnership guidelines')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title Partnership guidelines

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/2.jpg', alt='How To Write The Perfect Headline')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title How To Write The Perfect Headline

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/3.jpg', alt='Cloned Website')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title Cloned Website

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/4.jpg', alt='Work And Love')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title Work And Love

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/5.jpg', alt='What Zombies Can Teach You About Work')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title What Zombies Can Teach You About Work

        .work-wrapper.col-sm-6.col-md-4
          .work
            .work__img-wrapper
              img.work__img(src='/img/work/6.jpg', alt='The Biggest Lie In Website')

            .work__overlay
              a.work__link(href='')
                .work__plus-wrapper
                  span.work__plus +

                .work__caption
                  h4.work__title The Biggest Lie In Website

    .show-more
      button#show-more.show-more__button.button(type='button') Show me more
