$transparent: rgba(#000, 0);
$green: #23b7a4;
$blue: #3a454d;
$blue-dark: #292f36;
$gray: #e1e6ea;
$white-transparent: rgba(#fff, .4);
$blue-transparent: rgba(#292f36, .5);

// COMMON
$title-dark: $blue-dark;
$title-light: #fff;
$title-border-light: $gray;
$title-border-dark: #4e5a62;
$text-dark: #8d8f92;
$text-light: #fff;
$text-light-alt: #dcdfe1;

$section-bg-light: #fff;
$section-bg-dark: $blue;

$button-bg: $transparent;
$button-bg-hover: $green;
$button-border: #fff;
$button-border-hover: $green;
$button-text: #fff;

$underlay: $gray;

// HEADER
$header-section-bg: #1d2126;
$header-font-color: #a4aead;
$header-font-color-active: $green;
$header-border: $transparent;
$header-border-hover: #5b6168;
$header-border-active: $green;

// BANNER
$banner-title: $title-light;
$banner-text: #ccd0d7;
$banner-indicator-bg: $transparent;
$banner-indicator-bg-active: #fff;
$banner-indicator-border: #fff;

// ABOUT
$about-section-bg: $section-bg-light;
$about-title: $title-dark;
$about-title-border: $title-border-light;
$about-text: $text-dark;
$about-social-bg: #c8cdd0;
$about-social-bg-hover: #d0d5d9;
$about-point-bg: $green;
$about-point-text: #fff;

// OUR TEAM
$our-team-section-bg: $section-bg-light;
$our-team-title: $title-dark;
$our-team-title-border: $title-border-light;
$our-team-teaser-bg: $title-border-light;
$our-team-teaser-bg-hover: $blue;
$our-team-teaser-overlay: $white-transparent;
$our-team-teaser-social-bg: $our-team-teaser-bg-hover;
$our-team-teaser-social-bg-hover: #4e5a62;
$our-team-teaser-title: $title-dark;
$our-team-teaser-title-hover: $title-light;
$our-team-teaser-text: $text-dark;
$our-team-teaser-text-hover: $text-light;

// WORK
$work-section-bg: $section-bg-dark;
$work-title: $title-light;
$work-title-border: $title-border-dark;
$work-teaser-bg: $blue-dark;
$work-teaser-overlay: $blue-transparent;
$work-teaser-title: $title-light;

// SERVICES
$services-section-bg: $section-bg-light;
$services-title: $title-dark;
$services-title-border: $title-border-light;
$services-text: $text-dark;

// FEATURES
$features-section-bg: $section-bg-dark;
$features-title: $title-light;
$features-title-border: $title-border-dark;
$features-text: $text-light-alt;

// CONTACT
$contact-section-bg: $section-bg-light;
$contact-title: $title-dark;
$contact-title-border: $title-border-light;
$contact-text: $text-dark;
$contact-form-bg: #fff;
$contact-form-field-bg: #eaeef1;
$contact-form-label: $text-dark;

// FOOTER
$footer-section-bg: $section-bg-dark;
$footer-text: $text-light;
