@import "sizes";
@import "colors";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  line-height: 1.625;
  font-size: $base-font-size;
  font-family: OpenSans, sans-serif;
}

a {
  color: inherit;
}

img {
  vertical-align: top;
}

.button {
  height: 44px;
  padding: 0 22px;
  border: 2px solid $button-border;
  border-radius: 6px;
  font-size: 14px;
  font-family: QuattrocentoSans, sans-serif;
  text-transform: uppercase;
  color: $button-text;
  background-color: $button-bg;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    border-color: $button-border-hover;
    background-color: $button-bg-hover;
  }

  &--action {
    border-color: $button-border-hover;
    background-color: $button-bg-hover;

    &:hover {
      opacity: .7;
    }
  }
}

.unstyled-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-section {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 14px;
    text-transform: uppercase;
    border-left-width: 10px;
    border-left-style: solid;
    font-size: 36px;
    font-family: QuattrocentoSans, sans-serif;
  }
}

.social-icon {
  display: flex;
  justify-content: center;
  font-family: Socialico;
  text-decoration: none;
  color: #fff;

  &::before {
    position: relative;
  }
}

.facebook::before {
  content: 'F';
}

.twitter::before {
  content: 'L';
}

.google::before {
  content: 'G';
}

.dribble::before {
  content: 'D';
}

.behance::before {
  content: 'E';
}

.linkedin::before {
  content: 'I';
}

.skype::before {
  content: 'H';
}

.hidden {
  display: none !important;
}
