$base-font-size: 16px;
$base-screen-width: 1170px;


// Media queries breakpoints

// Small screen / tablet
$screen-sm-min: 768px;

// Medium screen / desktop
$screen-md-min: 992px;

// Large screen / wide desktop
$screen-lg-min: 1170px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;


// Grid system

// Number of columns in the grid.
$grid-columns: 12;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px;


// Container sizes

// Small screen / tablet
$container-sm: $screen-sm-min;

// Medium screen / desktop
$container-md: $screen-md-min;

// Large screen / wide desktop
$container-lg: $screen-lg-min;
